body {
  background-color: rgb(52, 149, 181);
}

.description {
  background-color: lightblue;
  color: white;
  padding: 4px
}

h1 {
  background-color: lightblue;
  color: white;
}

.court_locations {
  background-color: lightblue;
  color: white;
}