body {
  background-color: rgb(52, 149, 181);
}

.description {
  background-color: lightblue;
  color: white;
  padding: 3px;
  border-radius: 0px 0px 4px 4px;
  margin: -3px;
  text-align: center;
}

h1 {
  background-color: lightblue;
  color: white;
  padding: 3px;
  border-radius: 4px 4px 0px 0px;
  margin: -3px;
}

.court_locations {
  background-color: lightblue;
  color: white;
  border-radius: 4px;
}