body {
  background-color: rgb(52, 149, 181);
}

.description {
  background-color: lightblue;
  color: white;
  padding: 3px;
  border-radius: 0px 0px 4px 4px;
  margin: -3px;
  text-align: center;
}

h1 {
  background-color: lightblue;
  color: white;
  padding: 3px;
  border-radius: 4px 4px 0px 0px;
  margin: -3px;
}

.court_locations {
  background-color: lightblue;
  color: white;
  border-radius: 4px;
}

#popUp {
  display: none;
  background-color: red;
  padding: 10px;
  position: fixed;
  left: 100px;
  top: 200px;
  width: 170px;
  height: 300px;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}

/* Draggable Settings */
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color:blue;
  color: #fff;
}

select {
  /* width: 50px;
  height: 50px; */
  display: block;
  z-index: 0;
}

table {
  color: white;
}